[defaults]
# Comment to show skipped tasks and hosts
display_skipped_hosts = false
# Comment to show not changed tasks (also shows "debug" module messages without "changed_when: true")
display_ok_hosts = false
#callbacks_enabled = profile_tasks

vault_password_file = vault-password.txt
inventory = hosts.yml

callback_result_format = yaml
check_mode_markers = true
show_task_path_on_failure = true
pipelining = true
jinja2_native = true
ansible_managed = This file is managed by Ansible, changes will be lost. Source: {file}
force_handlers = true
any_errors_fatal = true
private_role_vars = true

fact_caching = jsonfile
fact_caching_connection = .ansible-fact-cache
gathering = smart

[diff]
always = true
