logoutput: stderr

internal: 0.0.0.0 port = {{ danted_listen_port }}
{% if danted_external_ip is defined %}
external: {{ danted_external_ip }}
{% else %}
external: 0.0.0.0
{% endif %}

user.privileged: proxy
user.unprivileged: nobody
user.libwrap: nobody

socksmethod: pam.username
clientmethod: none

client pass {
  from: 0/0 to: 0/0
  log: connect disconnect error
}

socks pass {
  from: 0/0 to: 0/0
  socksmethod: pam.username
  log: connect disconnect error
}
